* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --corprincipal: #044caaa1;
    --cortexto: rgb(0, 0, 0);
    --fontprincipal: "Whisper", cursive:

}


.whisper-regular {
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
  }
  


p,address{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}



main{
    margin-top: 70px;
}


/*parte 1 para baixo*/
#main1{
    /*background-color: rgba(76, 114, 219, 0.341);*/
    /*background-color: rgba(102, 87, 87, 0.572); --cor antiga*/
    margin-top: 120px;
}



.img {
    border-radius: 7px;
    width: 25%;
    margin-top: 10px;
} 

#text-filme1 {
    box-shadow: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

#filme1 {
    padding-left: 10px;
}

#topico1 {
    color: var(--cortexto);
    font-family: "Whisper", cursive;
    font-size: 80px;
    border: 10px;
    border-color: rgba(0, 0, 0, 0, 0.5);
    text-align: center;
}

.filmes {
    display: flex;
    justify-content: center;
    column-gap: 30px;

}

#filmediv {
    width: 300px;
    padding: 30px;
    background-color: #fafafa;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.text-filme {
    font-size: 30px ;
    width: 100%;
    height: 60px;
    color: var(--cortexto);
    padding-bottom: 20px;
}

.texto {
    text-align: center;
    color: var(--cortexto);
    width: 310px;

}

.img-filme {
    border-radius: 10px;
    height: 450px;
    width: 300px;
}

p {
    padding-top: 20px;
}

p a{
    font-style: italic;
    color: #044caaa1;
}



button {
    width: 300px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    color: var(--cortexto);
}

button:hover {
    background-color: #044caa;
    border-radius: 7px;
    cursor: pointer;
    color: white;
}

/*parte 2 para baixo*/


#biografia {
    display: flex;
    flex-direction: column; 
    margin-left: 60px;
    margin-right: 60px;
}

#imgbiografia {
    margin-top: 15px;
    border-radius: 7px;
    width: 400px;
    height: 400px;

}

#divbiografia1 p {
    text-align: left;
}

#divbiografia1  {
    display: flex;
    flex-direction: row;
}

#divbiografia1 p {
    padding-left: 20px;
}

#divbiografia1 h1 {
    font-size: 60px;
    padding-left: 20px;
    font-family: "Whisper";
}

#main2 {
    background-color: #fafafa;
    padding-top: 60px;
    padding-bottom: 60px;
}

/*Parte 3*/

#title {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 60px;
    font-family: "Whisper";
}

#main3 {
    display: flex;
    flex-direction: row;
}

#book1 {
    background-color: #fafafa;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    column-gap: 30px;
    padding: 20px;
    border-radius: 20px;

}

#book2 {
    background-color: #fafafa;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    column-gap: 30px;
    padding: 20px;
    border-radius: 20px;

}


.books img {
    width: 300px;
    height: 464px;
    border-radius: 7px;
}

.books h1 {
    padding-bottom: 10px;
}

.books button {
    margin-top: 10px;
}

/* Main 4 */

#main4 {
    background-color: #fafafa;
    padding-bottom: 80px;

}

.referencias {
    display: flex;
    justify-content: center;
    column-gap: 30px;

}

#referenciasdiv {
    width: 300px;
    padding: 30px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}